<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Boolzapp</title>
</head>


<body class="debug">
    <div id="app">

        <main id="site_main">
            <div class="container">

                <!-- ********************************************* -->

                <!-- contenitore principale left-->
                <div class="box-l">

                    <div class="info-account">
                        <img src="./assets/img/avatar_io.jpg" alt="">
                        <div class="icons">
                            <ul class="icons">
                                <li class="icon-1"> <i class="fa-solid fa-circle-notch"></i> </li>
                                <li class="icon-2"><i class="fa-solid fa-message"></i></li>
                                <li class="icon-3"><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                        <!-- icone -->

                    </div>
                    <!-- /.info-account -->

                    <div class="notify">
                        <div class="icon-4"><i class="fa-solid fa-bell-slash"></i> </div>
                        <div class="txt-notify">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <div><a href="#">Attiva le notifiche Desktop</a></div>
                        </div>
                    </div>
                    <!-- /.info-notify -->

                    <div class="search">
                        <div class="box-src">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <form class="form-search" action="" method="post">
                                <input type="text" name="search-in" id="search-in"
                                    placeholder="Cerca o inizia una nuova chat">
                            </form>
                            <!-- <span>Cerca o inizia una nuova chat</span> -->
                        </div>
                    </div>
                    <!-- /.search -->


                    <div class="users">

                        <ul>
                            <li v-for="(contact, index) in contacts" @click="generateUserMessage(index)">
                                <div class="card-user">
                                    <img class="photo-user" :src="'./assets/' + contact.avatar " alt="">
                                    <!-- user's photo -->
                                    <div class="column">
                                        <div class="name-user">{{contact.name}}</div>
                                        <div class="txt-chat">Lorem ipsum dolor sit amet</div>
                                    </div>
                                    <!-- name contact end last message text -->
                                    <div class="hour-user">16.45</div>
                                    <!-- hour last sms -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.contacts -->

                </div>
                <!-- chiusura contenitore principale left-->

                <!-- ********************************************* -->

                <!-- contenitore principale right-->
                <div class="box-r">

                    <div class="contact">

                        <div class="info-user">

                            <img class="photo-user " src="./assets/img/avatar_1.jpg" alt="">

                            <div class="">
                                <div class="">Michele</div>
                                <div class="txt-chat-r">Ultimo accesso oggi alle 16.16</div>
                            </div>
                        </div>

                        <div class="icon-user">
                            <ul class="icons-r">
                                <li class="icon-1"> <i class="fa-solid fa-magnifying-glass"></i> </li>
                                <li class="icon-2"><i class="fa-solid fa-paperclip"></i></li>
                                <li class="icon-3"><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.info contact top -->


                    <div class="sms">
                        <div class="send" v-if="generatedUserMessage != null">
                            <div v-for="message in generatedUserMessage.messages">
                                <div class="txt_sended">
                                    {{message.message}}
                                </div>
                                <div class="icon-sms">
                                    <i class="fa-solid fa-chevron-down"></i>
                                    <!-- <div>{{contacts[activeUser].messages[countMessage].date}}</div> -->
                                </div>
                            </div>
                        </div>

                        <div class="recive">
                            <div class="txt_recived">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum eum autem ipsam, nam
                                saepe
                                id dolorem repudiandae vel nulla pariatur libero suscipit commodi. Voluptatem sunt
                                nostrum
                                minus amet rerum eius.
                            </div>
                            <div class="icon-sms">
                                <ul class="menu">
                                    <li><a class="arrow-down" href="#"><i class="fa-solid fa-chevron-down"></i></a>
                                        <ul class="tendina">
                                            <li><a class="td-n" href="#">Info messaggio</a></li>
                                            <li><a class="td-n" href="#">Cancella messaggio</a></li>
                                        </ul>
                                    </li>
                                </ul>


                                <!-- Bonus riuscito -->

                                <div>16.16</div>
                            </div>
                        </div>

                    </div>
                    <!-- /.sms -->

                    <div class="digit">
                        <div class="icon-l"> <i class="fa-regular fa-face-smile"></i> </div>
                        <!-- /.icon-l -->

                        <form class="sms-write" action="" method="post">
                            <input type="text" placeholder="Scrivi un messaggio">
                        </form>



                        <!-- <div class="sms-write"> Scrivi un messaggio </div> -->
                        <!-- /.sms-write -->

                        <div class="icon-audio"> <i class="fa-solid fa-microphone"></i> </div>
                        <!-- /.icon-audio -->

                    </div>
                    <!-- /.digit -->

                </div>
                <!-- chiusura contenitore principale Right-->
            </div>
        </main>
        <!-- contenitore principale -->

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>

</body>

</html>